body {
    background-color: rgba(197, 241, 241, 0.904);
}

.laexcusa {
    color: green;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
